@charset "utf-8";
ul li a {
    line-height: 50px;
    font-size: x-large;
    font-family: Georgia, "Times New Roman", Times, serif;
}
body p {
    text-align: center;
    font-size: x-large;
    font-family: Georgia, "Times New Roman", Times, serif;
}
body h1 {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}
